In [89]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier

In [93]:
data_X=pd.read_csv("../Data Sets/Diabetes_XTrain.csv")
data_Y=pd.read_csv("../Data Sets/Diabetes_YTrain.csv")
data_X_test=pd.read_csv("../Data Sets/Diabetes_Xtest.csv")

In [91]:
data_X.head()
# data_Y.head()
data_X_test.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22

In [40]:
X=data_X.values
Y=data_Y.values
X_test=data_X_test.values

In [41]:
X=X[:,0:]
Y=Y[:,0]
X_test

array([[0.00e+00, 1.80e+02, 9.00e+01, ..., 3.65e+01, 3.14e-01, 3.50e+01],
       [2.00e+00, 9.30e+01, 6.40e+01, ..., 3.80e+01, 6.74e-01, 2.30e+01],
       [2.00e+00, 1.14e+02, 6.80e+01, ..., 2.87e+01, 9.20e-02, 2.50e+01],
       ...,
       [0.00e+00, 1.62e+02, 7.60e+01, ..., 4.96e+01, 3.64e-01, 2.60e+01],
       [1.20e+01, 8.40e+01, 7.20e+01, ..., 2.97e+01, 2.97e-01, 4.60e+01],
       [0.00e+00, 9.40e+01, 0.00e+00, ..., 0.00e+00, 2.56e-01, 2.50e+01]])

In [31]:
# model=KNeighborsClassifier?

In [33]:
model=KNeighborsClassifier(10)
model.fit(X,Y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=10, p=2,
           weights='uniform')

In [54]:
predictions=model.predict(X_test)

In [55]:
X_test.shape
predictions.shape

(192,)

In [56]:
# predictions.values

In [59]:
# prediction = pd.DataFrame(predictions, columns=['Outcome']).to_csv('../Data Sets/prediction.csv')

In [83]:
# predict=pd.read_csv("../Data Sets/prediction.csv")
# predictions
predict=pd.DataFrame(predictions,columns=["Outcome"])
predict.drop?
predict

     Outcome
0          1
1          0
2          0
3          0
4          0
5          1
6          1
7          0
8          0
9          0
10         1
11         0
12         1
13         0
14         0
15         0
16         0
17         1
18         1
19         1
20         1
21         0
22         0
23         0
24         0
25         0
26         0
27         0
28         0
29         0
..       ...
162        0
163        0
164        0
165        0
166        0
167        0
168        0
169        0
170        0
171        0
172        0
173        0
174        0
175        0
176        0
177        0
178        1
179        1
180        0
181        0
182        1
183        1
184        0
185        0
186        0
187        0
188        0
189        1
190        0
191        0

[192 rows x 1 columns]

In [72]:
# predict.drop(columns="Unnamed: 0")

In [84]:
pd.read_csv?